# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Probar ideas.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Alexis-PC\Documents\ALEXIS\Universidad\7mo Semestre\ENSEÑANZA-APRENDIZAJE DE PROGRAMACIÓN WEB\Página de práctica\Probar ideas\.idea\.idea.Probar ideas.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
